/* Initial Set Up + Defaults */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 16px;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.25rem;
}

p {
    font-size: 1rem;
}

small {
    font-size: 0.75rem;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    display: grid;
    grid-template-areas:
        "title"
        "recipe"
        "return";
    grid-template-rows: 80px 1fr 30px;
    ;
}

.title {
    grid-area: title;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightsteelblue;
}

main {
    grid-area: recipe;
    padding: 5px;
    gap:5px;
    display: grid;
    grid-template-areas:
        "details details"
        "ingredients instructions"
        "extras instructions";
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 50px 1fr 100px;
}

.details {
    text-align: center;
    grid-area: details;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-bottom: 1px solid lightsteelblue;
}

.Ingredients {
    padding: 5px;
    grid-area: ingredients;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}



table {
    border-collapse:collapse;
}
td {
    padding: 4px 2px;
}
tr:nth-child(even) {
    background-color: aliceblue;
}

.Instructions {
    grid-area: instructions;
    padding: 5px 10px;
    border-left: 1px solid lightsteelblue;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}


.InsL {
    list-style-position: inside;
}

li {
    padding: 5px;
}
li:nth-child(odd) {
    background:aliceblue;
}

.Extras {
    grid-area: extras;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.Source {
    background-color: aliceblue;
    padding: 4px;
}

.return > a {
    all: unset;
    grid-area: return;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightsteelblue;
    font-size: 1.2rem;
    font-weight: 600;
}

.return > a:hover {
    background-color: black;
    color: lightsteelblue;
}